.photobl {
    display: flex;
    gap: 10px;
    margin-left:220px;
}

.photobl img{
    height: 266px;
    width:100%;
}

.inphoto {
    width: auto;
    height: 300px;
}

@media screen and (max-width:900px){
    .photobl {
        margin:0;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:500px) {
     .inphoto{
        height:100px;
    }
    
}